<a href="https://colab.research.google.com/github/Rioba-Ian/WebScraping/blob/main/WebScrapingStockTickers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#We are going to scrape stock tickers from a company's website

In [1]:
# Import the dependencies

import requests
import pandas as pd
from bs4 import BeautifulSoup

In [26]:
# Create two empty lists for the company name and company ticker/symbol
company_name = []
company_ticker = []

In [11]:
URL = 'https://www.advfn.com/nyse/newyorkstockexchange.asp?companies=A'
page = requests.get(URL)
soup = BeautifulSoup(page.text,'html.parser')
odd_rows = soup.find_all('tr',attrs={'class':'ts0'})
even_rows = soup.find_all('tr',attrs={'class':'ts1'})

In [19]:
for i in odd_rows:
    row = i.find_all('td')
    company_name.append(row[0].text.strip()) #Company name
    company_ticker.append(row[1].text.strip()) #Ticker

for i in even_rows:
    row = i.find_all('td')
    company_name.append(row[0].text.strip()) #Company name
    company_ticker.append(row[1].text.strip()) #Ticker

In [21]:
# Create a function to scrape the data
def scrape_stock_symbols(Letter):
    Letter = Letter.upper()
    URL = 'https://www.advfn.com/nyse/newyorkstockexchange.asp?companies='+Letter
    page = requests.get(URL)
    soup = BeautifulSoup(page.text,'html.parser')
    odd_rows = soup.find_all('tr',attrs={'class':'ts0'})
    even_rows = soup.find_all('tr',attrs={'class':'ts1'})

    for i in odd_rows:
        row = i.find_all('td')
        company_name.append(row[0].text.strip()) #Company name
        company_ticker.append(row[1].text.strip()) #Ticker

    for i in even_rows:
        row = i.find_all('td')
        company_name.append(row[0].text.strip()) #Company name
        company_ticker.append(row[1].text.strip()) #Ticker

    return (company_name,company_ticker)

In [ ]:
(temp_name, temp_ticker) = scrape_stock_symbols('b')
temp_name

In [25]:
# get a list of every letter in the alphabet
import string
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [27]:
# Loop through every letter in the alphabet to get all the tickers and company names from the website
for char in string.ascii_uppercase:
    (temp_name, temp_ticker) = scrape_stock_symbols(char)

In [30]:
# Create a dataframe that contains the company name and the company ticker
data = pd.DataFrame(columns=['company_name','company_ticker'])
data['company_name']  = temp_name
data['company_ticker'] = temp_ticker
# show dataframe
data

        company_name company_ticker
0          A K Steel            AKS
1     A M R Cp 7.875            AAR
2              A a R            AIR
3        Aaron Rents          RNT.A
4        Aarons Cl A          AAN.A
...              ...            ...
2455            Zale            ZLC
2456          Zenith            ZNT
2457
2458          Zapata            ZAP
2459             Zep            ZEP

[2460 rows x 2 columns]

In [31]:
# Clean the data
data = data[data['company_name'] != '']
# show data
data

          company_name company_ticker
0            A K Steel            AKS
1       A M R Cp 7.875            AAR
2                A a R            AIR
3          Aaron Rents          RNT.A
4          Aarons Cl A          AAN.A
...                ...            ...
2453  Yamana Gold Inc.            AUY
2455              Zale            ZLC
2456            Zenith            ZNT
2458            Zapata            ZAP
2459               Zep            ZEP

[2168 rows x 2 columns]